.changePasswordContainer {
    display: flex;
    flex-direction: column;
}

.changePasswordToggle button {
    font-size: 20px;
    font-weight: 600;
    color: #02BAEC;
    background: transparent;
    border: none;
    font-family: inherit;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
}

.changePasswordToggle:hover {
    opacity: 0.7;
}

.updateButton {
    flex: 1;
}