.header{
    border: 1px solid rgb(225, 225, 225);
    background-color: white;
    padding: 10px 0;
}
.headerContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerContainer img{
    width: 250px;
}
.headerContainer nav{
    display: flex;
    gap: 30px;
}
.headerContainer nav a{
    text-decoration: none;
    color: #373742;
    font-weight: 500;
    font-size: 18px;
}
.authButtons{
    display: flex;
    gap: 15px;
}
.authButtons button{
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-weight: 500;
    cursor: pointer;
}