.box {
    background: white;
    padding: 30px;
    border-radius: 8px;
}

.title {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    margin-bottom: 8px;
}

.subTitle {
    font-size: 16px;
    font-weight: 500;
    color: #6B6B6B;
}
.form{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.row{
    display: flex;
    gap: 20px;
    align-items: center;
}