.cancelContainer {
    width: 600px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
}


.titleWithSubtitle {
    display: flex;
    gap: 8px;
    flex-direction: column;
}

.alert {
    padding: 12px 20px;
    background: #FFECEC;
    border: 1px solid #D9A6A6;
    font-size: 16px;
    font-weight: 600;
    color: #CA2424;
    border-radius: 8px;
    text-align: center;
}

.actions {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    height: 100%;
    align-items: baseline;
}