.subscriptionPlans {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.planCancelledAlert {
    padding: 20px;
    border: 1px solid #CFB247;
    border-radius: 8px;
    background: #FFF7D9;
}

.planCancelledAlert p:first-child {
    font-size: 18px;
    font-weight: 600;
    color: #554509;
    margin-bottom: 10px;
}

.planCancelledAlert p:last-child {
    font-weight: 500;
    font-size: 12px;
    color: #554509;
}

.currentPlan {
    border: 2px solid #E7ECFA;
    background: white;
    padding: 20px;
    border-radius: 16px;
}

.currentPlanBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.planContent {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 20px;
}

.planContent p:first-child {
    display: flex;
    gap: 20px;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}

.planContent p:last-child {
    font-size: 14px;
    color: #6B6B6B;
    font-weight: 500;
}

.planPrice {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
}

.planPrice p {
    font-size: 14px;
    color: #6B6B6B;
    font-weight: 500;
}

.planPrice p span {
    font-size: 24px;
    color: #333333;
    font-weight: 600;
}

.plansTopBox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.planText {
    font-size: 14px;
    color: #6B6B6B;
    font-weight: 500;
}

.billingToggleBox {
    display: flex;
    align-items: center;
    gap: 20px;
}

.billingToggle {
    display: flex;
    padding: 5px;
    background: #E7ECFA;
    list-style: none;
    gap: 10px;
    border-radius: 4px;
}

.billingToggle li {
    font-size: 14px;
    color: #6B6B6B;
    font-weight: 600;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.billingToggle .active {
    background: white;
    color: #333333;
}

.plans {
    display: flex;
    gap: 30px;
    margin-top: 30px;
}