.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.listing {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}