.details {
    background: white;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.statusShare {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.share {
    background: #F2FDFF;
    border: 1px solid #B0ECF8;
    border-radius: 4px;
    padding: 8px 12px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #000000;
    cursor: pointer;
}

.companyNameWithTitle {}

.companyName {
    font-size: 14px;
    font-weight: 600;
    color: #6B6B6B;
    margin-bottom: 5px;
}

.jobTitle {
    font-size: 22px;
    color: #333333;
    font-weight: 600;
}

.info {
    list-style: none;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #F5F5F5;
    border-bottom: 1px solid #F5F5F5;
    padding: 15px 0;
}

.info li {
    font-size: 16px;
    font-weight: 500;
    color: #6B6B6B;
    display: flex;
    gap: 10px;
    align-items: center;
}


.jobDescTitle {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
    margin-top: 10px;
}

.jobDesc p {
    font-size: 16px;
    font-weight: 500;
    line-height: 150%;
    color: #6B6B6B;
}

.jobDesc p span {
    font-weight: 700;
    cursor: pointer;
}